<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <script
      src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"
      data-auto-a11y="true"
    ></script>
 <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&family=Merriweather&family=Open+Sans&family=Roboto&family=Roboto+Mono&display=swap" rel="stylesheet">
</head>
<body>
<div class="container" align="center"  style="width:100%;border:5px;border-color:gery;font-family: 'Roboto', sans-serif;margin:10px;"><div align="center" style=" background:#006990; font-size:30px; color:white; width:40%;padding:10px;">Confirm Your Email Address
</div><br><i class="fas fa-paper-plane" style="font-size:40px; color:	#404040;"></i>
  <div style=" color:#404040; font-size:20px; padding:20px;">
  Hi {{username}},<br>
  Thank you for registering with us!<br>
  Verfiy your email by clicking the button below<br>
    </div>
   <a href="{{link}}" style="color: #ffffff; text-decoration: none; margin: 10px !important; text-align: center; vertical-align: baseline; border: 4px solid #ffffff; padding: 5px 10px; font-size: 25px; line-height: 21px; background-color: #006990;">&nbsp; Confirm &nbsp;</a>

</div>
</body>
</html>