{% extends "layout.html"%}
{% block content%}
<div class="text-center" style="font-size: 45px; color: grey; font-weight:bold;max-width:50%;margin-left: 220px;">
    FORGOT PASSWORD
  </div>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            {%if "Invalid" in message%}
                <div class="alert alert-danger" role="alert" style="max-width:50%;margin-left: 220px;">
                    {{message}}
                </div>
            {%endif%}
        {% endfor %}
    {% endif %}
{% endwith %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            {%if "Successfull" in message%}
                <div class="alert alert-success" role="alert" style="max-width:50%;margin-left: 220px;">
                    {{message}}
                </div>
            {%endif%}
        {% endfor %}
    {% endif %}
{% endwith %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            {%if "confirming" in message%}
                <div class="alert alert-success" role="alert" style="max-width:50%;margin-left: 220px;">
                    {{message}}
                </div>
            {%endif%}
        {% endfor %}
    {% endif %}
{% endwith %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            {%if "already confirmed" in message%}
                <div class="alert alert-success" role="alert" style="max-width:50%;margin-left: 220px;">
                    {{message}}
                </div>
            {%endif%}
        {% endfor %}
    {% endif %}
{% endwith %}
<form method="post" action="/reset_password">
    <div class="container" style="max-width:50%;margin-left: 220px;" >
    <div class="mb-3 px-10">
        <input type="text" class="form-control" id="uname" name="uname" placeholder="username">
    </div>
        <center>
            <div class="mb-3">
   <input type="submit" class="btn btn-outline-primary" value="Reset Password"/>
        </div>
            </center>
    </div>
</form>

<script>
    window.setTimeout(function() {
    $(".alert").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove();
    });
}, 4000);
</script>
{% endblock content%}