{% extends "layout.html" %}
{% block content%}<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:100%;">

  <!-- The Grid -->
  <div class="w3-row-padding row" style="display: flex; !important;">

    <!-- Left Column -->
    <div class="w3-third">
      <div class="w3-container w3-card w3-white">
        <div class="w3-display-container"><figure>
          <img src="static/My Pic.png" style="display: block;  margin:auto;  width: 50%; border-radius:50%; border:2px;" alt="Avatar"><figcaption>
          <center><h2>Dhruv Singhal</h2></center>
        </figcaption></figure>
        </div>

        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Software Developer</p>
          <p><i class="fas fa-map-marker-alt fa-fw w3-margin-right w3-large w3-text-teal"></i>Delhi, India</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>connect.codemy@gmail.com</p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Tech Skills</b></p>
          <p> Python </p>
           <p>Pandas</p>
          <p>Numpy</p>
          <p>SQL</p>
          <p>AWS</p>
          <p>HTML</p>
          <p>CSS</p>

        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fas fa-user-tie fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>About Me</h2>
        I am a software developer with good technical and managerial skills.
        I have good command over Python, Flask and SQL.
        I have developed various programs and modules as a software engineer.
        I always look for opportunities where I can take on newer, progressively harder challenges and learn something new.
        I have a Bachelor of Technology Degree in Computer Science and Engineering.
        As a hobby I write articles as dev geek and to share my knowledge with my fellow peers.
        In the free time I visit different coding platform and take coding assessments.
        I love watching movies, shows and play video games.
        <br><br>
      </div>

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
       Handcrafted application to automate reports using
Python, SQL, and Excel, thereby saving the team extra
efforts.<br> Developed a python program to analyze suspicious
files using file hash and Virus Total.<br> Created Powershell Scripts to perform CRUD
operations over the Active Directory. <br> Automated Audit activities using Python, Pandas and SQL. <br>Analyze weekly threats and visualization of data in the
form of charts, graphs, and tables.<br> Performed data analysis on daily, weekly, monthly, and quarterly basis using SQL queries.<br> Fetching, cleaning, and assessing data quality,
identifying gaps in the data, and eliminating
irrelevant data. <br> Understanding, analyzing, and implementing – Business needs, feature modification requests, conversion into software components.<br> Enhancing the functionalities of current software
systems.

        <br><br>
      </div>

    <!-- End Right Column -->
    </div>

  <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>







{% endblock %}
